:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --text-color-primary: rgba(33, 33, 33, 1);
  --text-color-secondary: rgba(0, 0, 0, 1);
  --text-color-tertiary: rgba(33, 150, 243, 1);
  --text-color-quaternary: rgba(255, 255, 255, 1);
  --text-color-quinary: rgba(117, 117, 117, 1);
  --text-color-senary: rgba(255, 255, 255, 0.6);
  --background-color-primary: rgba(255, 255, 255, 1);
  --background-color-tertiary: rgba(47, 48, 58, 1);
  --background-color-quaternary: rgba(33, 150, 243, 1);
  --background-color-quinary: rgba(245, 244, 250, 1);
  --color-primary: rgba(175, 177, 184, 1);
  --color-secondary: rgba(117, 117, 117, 0.5);
  --color-tertiary: rgba(117, 117, 117, 1);
  --color-quaternary: rgba(255, 255, 255, 0.6);
}
