.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-primary);

  &__icon {
    fill: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    &:focus,
    &:hover {
      border-color: var(--background-color-quaternary);
      fill: var(--background-color-quaternary);
    }
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
