.footer {
  background-color: var(--background-color-tertiary);
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    display: flex;
    gap: 70px;
  }
  &__title {
    color: var(--text-color-quaternary);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.17;
  }
  &__paragraph {
    color: var(--background-color-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
  }

  &__icon {
    fill: var(--background-color-primary);
  }

  &__newsletter {
    padding-top: 16px;

    &-icon {
      fill: var(--background-color-primary);
      margin-left: 24px;
    }
  }
  &__field {
    padding: 15px 185px 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    color: var(--color-quaternary);
  }
  &__button {
    display: inline-flex;
    color: var(--text-color-quaternary);
    font-weight: 700;
    background-color: var(--background-color-quaternary);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 42px;
    align-items: center;
    padding: 10px 32px 10px 42px;
  }
}

.address {
  color: var(--text-color-quaternary);
  font-size: 14px;
  line-height: 2;
  font-style: normal;
  padding-top: 20px;
}
