@media (min-width: 480px) {
  .footer {
    background-color: var(--background-color-tertiary);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    &__list {
      display: flex;
      gap: 70px;
      flex-wrap: wrap;
    }
    &__title {
      color: var(--text-color-quaternary);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 1.17;
      text-align: center;
    }
    &__paragraph {
      justify-content: center;
      color: var(--background-color-primary);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      font-style: normal;
    }
    &__field {
      padding: 15px 295px 15px 16px;
      max-width: 450px;
      font-size: 16px;
      line-height: 1.25;

      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      color: var(--color-quaternary);
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__button {
      display: inline-flex;
      color: var(--text-color-quaternary);
      font-weight: 700;
      background-color: var(--background-color-quaternary);
      cursor: pointer;
      font-size: 16px;
      line-height: 1.87;
      border: none;
      letter-spacing: 0.06em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      align-items: center;
      padding: 10px 32px 10px 42px;
      margin-left: 0;
    }
    &__address {
      color: var(--text-color-quaternary);
      font-size: 14px;
      line-height: 2;
      font-style: normal;
      padding-top: 20px;
    }
    &__link {
      align-items: center;
      color: var(--text-color-quinary);
      margin-bottom: 9px;
      margin-top: 9px;
    }
    &__box {
      &-logo {
        display: flex;
        width: 280px;
        text-align: center;
      }
      &-media {
        display: flex;
      }
      &-newsletter {
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding-top: 65px;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-color: var(--background-color-tertiary);

    &__list {
      flex-wrap: nowrap;
    }
    &__title {
      text-align: start;
    }
    &__field {
      padding: 15px 120px 15px 16px;
    }
    &__button {
      display: inline-flex;
      color: var(--text-color-quaternary);
      font-weight: 700;
      background-color: var(--background-color-quaternary);
      cursor: pointer;
      font-size: 16px;
      line-height: 1.87;
      border: none;
      letter-spacing: 0.06em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      align-items: center;
      padding: 10px 32px 10px 42px;
      margin-left: 0;
    }
    &__address {
      color: var(--text-color-quaternary);
      font-size: 14px;
      line-height: 2;
      font-style: normal;
      padding-top: 20px;
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: var(--text-color-quinary);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      font-style: normal;
      margin-bottom: 9px;
      margin-top: 9px;
    }
    &__box {
      &-logo {
        text-align: start;
      }
      &-media {
        text-align: start;
      }
    }
  }
}
