@media (min-width: 480px) {
  .footer {
    background-color: var(--background-color-tertiary);

    &__title {
      text-align: center;
      color: var(--text-color-quaternary);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 1.17;
    }

    &__field {
      padding: 15px 250px 15px 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      color: var(--color-quaternary);
      margin-left: 15px;
    }
    &__button {
      display: flex;
      margin-left: 140px;
      color: var(--text-color-quaternary);
      font-weight: 700;
      background-color: var(--background-color-quaternary);
      align-items: center;
      font-size: 16px;
      line-height: 1.87;
      border: none;
      letter-spacing: 0.06em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 10px 24px 10px 42px;
    }
    &__address {
      color: var(--text-color-quaternary);
      font-size: 14px;
      line-height: 2;
      font-style: normal;
      padding-top: 20px;
    }
    &__link {
      align-items: center;

      color: var(--text-color-quinary);

      margin-bottom: 9px;
      margin-top: 9px;
    }
    &__box {
      &-logo {
        display: flex;
        justify-content: space-around;
        text-align: center;
      }
      &-media {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      &-newsletter {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
@media (min-width: 1200px) {
  .footer {
    background-color: var(--background-color-tertiary);
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
      display: flex;
      gap: 70px;
    }
    &__title {
      color: var(--text-color-quaternary);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 1.17;
    }
    &__paragraph {
      color: var(--background-color-primary);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      font-style: normal;
    }

    &__field {
      padding: 15px 185px 15px 16px;
      margin-right: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      color: var(--color-quaternary);
    }
    &__button {
      display: inline-flex;
      color: var(--text-color-quaternary);
      font-weight: 700;
      background-color: var(--background-color-quaternary);
      cursor: pointer;
      font-size: 16px;
      line-height: 1.87;
      border: none;
      letter-spacing: 0.06em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding-left: 42px;
      align-items: center;
      padding: 10px 32px 10px 42px;
    }
    &__address {
      color: var(--text-color-quaternary);
      font-size: 14px;
      line-height: 2;
      font-style: normal;
      padding-top: 20px;
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: var(--text-color-quinary);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      font-style: normal;
      margin-bottom: 9px;
      margin-top: 9px;
    }
  }
}
