@media (min-width: 480px) {
  .newsletter {
    display: flex;
    padding-top: 16px;

    &__icon {
      fill: var(--background-color-primary);
      margin-left: 24px;
    }
  }
}
@media (min-width: 1200px) {
  .newsletter {
    padding-top: 16px;
    &__icon {
      fill: var(--background-color-primary);
      margin-left: 24px;
    }
  }
}
