@media (min-width: 480px) {
  .offer {
    display: inline-block;
    &__item {
      margin-left: 15px;
    }
    &__icon {
      justify-content: center;
      margin-bottom: 30px;
      width: 450px;
      height: 120px;
      background-color: #f5f4fa;
    }
    &__title {
      text-align: center;
      color: var(--text-color-primary);
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
    }
    &__paragraph {
      color: var(--text-color-quinary);
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.03em;
    }
  }
}
@media (min-width: 768px) {
  .offer {
    display: flex;
    flex-wrap: wrap;
    &__icon {
      justify-content: center;
      width: 354px;
    }
    &__title {
      text-align: start;
    }
    &__paragraph {
      width: 354px;
      padding-bottom: 30px;
    }
  }
}
@media (min-width: 1200px) {
  .offer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon {
      margin-bottom: 30px;
      width: 270px;
    }
    &__title {
      color: var(--text-color-primary);
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
    }
    &__paragraph {
      color: var(--text-color-quinary);
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.03em;
    }
  }
}
